@import "./base";
.icon {
  width: 1.5em; height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tc {
  text-align: center !important;
}

.tr {
  text-align: right !important;
}

.tl {
  text-align: left !important;
}

.cursor {
  cursor: pointer;
}

.textOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.h-100 {
  height: 100%;
}

.vertical-middle {
  vertical-align: middle;
}

.layout {
  width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #e9eaed;
  font-size: 14px;
}

.m-l-10 {
  margin-left: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-5 {
  margin-left: 5px;
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.hide {
  display: none;
}
.o-hide {
  overflow: hidden;
}
.c-theme {
  color: @color-theme;
}
.c-red {
  color: @color-red;
}

.clearfix {
  zoom: 1;
  &::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
}

.article-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid @color-main-background;
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background: @color-theme;
    transition: 0.4s;
  }
  &:hover {
    &:after {
      width: 100%;
    }
  }
  .list-content {
    flex: 1;
    position: relative;
    .title {
      margin-bottom: 10px;
      font-size: 18px;
      a {
        color: #333;
        &:hover {
          color: @color-theme;
        }
      }
      .classify {
        position: relative;
        margin-right: 10px;
        padding: 3px 5px;
        background: @color-theme;
        border-radius: 3px;
        font-size: @font-size-small;
        color: @color-white;
        &:after {
          content: "";
          position: absolute;
          right: -10px;
          top: 50%;
          border: 5px solid @color-theme;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom-color: transparent;
          transform: translateY(-50%);
        }
      }
    }
    .summary {
      line-height: 1.8;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .information {
      padding-top: 10px;
      .details-btn {
        display: inline-block;
        padding: 5px 10px;
        float: right;
        margin-right: 10px;
        color: @color-white;
        background: @color-theme;
        border-radius: @border-radius;
      }
    }
  }
}

//评论
.comments-wrap{
  padding: 10px 0;
  .comment-closed{
    padding: 10px 0 30px;
  }
}


.comment-list {
  box-sizing: border-box;
  position: relative;
  width: 95%;
  margin: 0 0 20px 5%;
  padding: 10px 10px 10px 50px;
  border-radius: @border-radius;
  background: @color-sub-background;

  &:last-of-type {
    margin-bottom: 0;
  }

  .list-gravatar {
    position: absolute;
    top: 5px;
    left: -30px;
    border-radius: @border-radius;
  }

  .list-gravatar-text {
    position: absolute;
    top: 5px;
    left: -30px;
    width: 60px;
    height: 60px;
    border-radius: @border-radius;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
  }

  .list-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .author {
    margin-right: 3px;
    font-size: 18px;
    font-weight: bold;
  }
  // 浏览器信息
  .browser-info {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 5px;
    padding: 2px 4px;
    background: #06aaff;
    border-radius: 3px;
    color: @color-white;

    &.chrome {
      background: linear-gradient(to right, #5087ec, #d95040, #f2bd42);
    }

    &.safari {
      background: linear-gradient(to right, #2670cb, #47a2c5);
    }

    &.firefox {
      background: linear-gradient(to right, #dd3a45, #fcea67);
    }

    &[class*="qq"] {
      background: linear-gradient(to right, #3072d1, #4ea8f3);
    }

    &.edge {
      background: #4378b5;
    }

    &.internet-explorer {
      background: linear-gradient(to right, #fadc4f, #8ae2fb, #57a0d4);
    }

    &.micromessenger {
      background: #94d258;
    }

    &.ucbrowser {
      background: linear-gradient(to right, #ed5e31, #f8cd46);
    }

    &.opera {
      background: #eb3b3a;
    }
  }
  // 系统信息
  .system-info {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 5px;
    padding: 2px 4px;
    background: #fc5c7d;
    background: linear-gradient(to right, #fc5c7d, #6a82fb);
    border-radius: 3px;
    color: @color-white;
  }

  .list-content {
    margin: 10px 0;

    /deep/ a {
      color: @color-theme;
    }

    /deep/ img {
      max-width: 40%;
      height: initial !important;
      max-height: initial !important;
      vertical-align: bottom;
    }
  }
  // 评论者等级
  .icon-vip {
    display: inline-block;
    margin-right: 5px;
    // 博主
    &.icon-admin {
      width: 20px;
      height: 20px;
      background-position: -172px -70px;
    }

    &.vip-style-1 {
      width: 20px;
      height: 18px;
    }
  }
  // 博主
  .icon-admin {
    margin-right: 5px;
  }

  span,
  time {
    font-size: @font-size-small;
    color: #a8b6c0;
  }

  .list-btn-wrap {
    a {
      display: inline-block;
      padding: 5px 15px;
      border-radius: @border-radius;
      background: @color-white;
    }
  }

  .list-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .opinion-btn {
      margin-left: 10px;
      cursor: pointer;
    }

    .iconfont {
      vertical-align: baseline;
    }
  }
}
